# ----- .gitignore for this project -----


# The files and folders from IDE (VS)
/source/.vs/
/source/x64/
/source/*.sln

/source/**/x64/
/source/**/resource.h

/source/**/*.aps
/source/**/*.rc
/source/**/*.vcxproj
/source/**/*.filters
/source/**/*.user